:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    box-sizing: border-box;
}

body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
button, 
ul, 
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Poppins", sans-serif;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }